{
    "proxyConfig": [
        {
            "mustMatch": true,
            "logFile": "proxy.log",
            "allowedReferers":[
                "http://kreispaderborn.maps.arcgis.com/*"
            ],
			"logLevel": 0
        }
    ],
    "serverUrls": [
        {
            "serverUrl" : [
                {
                    "url": "http://sg.geodatenzentrum.de",
                    "matchAll": true
                }
            ]
        }
    ]
}