{
    "proxyConfig": [
        {
            "mustMatch": true,
            "logFile": "proxy.log",
            "allowedReferers":["${PRODUCTION_SERVER_URL}"],
			"logLevel": 0
        }
    ],
    "serverUrls": [
        {
            "serverUrl" : [
                {
                    "url": "${FME_SERVER_BASE_URL}",
                    "matchAll": true
                }
            ]
        }
    ]
}