
.jimu-widget-widget-opendata-main .submitInitial{
  font-size: 14px;

  height:64px; 
  word-break: break-word;
  overflow: auto;
  border: 1px solid gainsboro;
  padding-left: 10px;
  padding-top: 5px;
}

.jimu-widget-widget-opendata-main .submitValid{
  color: green;
  font-size: 14px;

  height:64px; 
  word-break: break-word;
  overflow: auto;
  border: 1px solid gainsboro;
  padding-left: 10px;
  padding-top: 5px;
}

.jimu-widget-widget-opendata-main .submitInvalid{
  color: #ac3030;
  font-size: 14px;

  height:64px; 
  word-break: break-word;
  overflow: auto;
  border: 1px solid #d46464;
  padding-left: 10px;
  padding-top: 5px;
}

.jimu-widget-widget-opendata-main .tableHeading{
  height: 35px;
  vertical-align: center;
}

.jimu-widget-widget-opendata-main table{
  width: 100%;
}

.claro .kpbFailure .dijitDialogTitleBar {
  background-color: #e94646 !important;
}

.claro .kpbIncomplete .dijitDialogTitleBar {
  background-color: #f0ae57 !important;
}

.claro .kpbSuccess .dijitDialogTitleBar {
  background-color: #32bb39 !important;
}

.eMailValidationCode {
  text-align: center;
  font-size: large;
  margin-right: 33%;
  margin-left: 33%;
  width: 33%;
  font-family: 'Courier New', Courier, monospace;
}
