.jimu-widget-widget-opendata-touch .overlayButton-check{
  border-radius: 5px;
  width: 50px;
  height: 50px;
  margin-right: 4px;
  border: solid white 2px;
  padding-bottom: -20px;
  opacity: 0.9; 
  float: left;
  color: white;
  text-align: center;
  vertical-align: bottom;
  font-weight: bold;
  font-size: 40px;
  background: #aaa url(../images/check.png) center center no-repeat;
  cursor: pointer;
  visibility: hidden;
}

.jimu-widget-widget-opendata-touch .overlayButton-cross{
  border-radius: 5px;
  width: 50px;
  height: 50px;
  margin-right: 4px;
  border: solid white 2px;
  padding-bottom: -20px;
  opacity: 0.9; 
  float: left;
  color: white;
  text-align: center;
  vertical-align: bottom;
  font-weight: bold;
  font-size: 40px;
  background: #aaa url(../images/cross.png) center center no-repeat;
  cursor: pointer;
  visibility: hidden;
}

.jimu-widget-widget-opendata-touch .statusText{
  border-radius: 5px;
  width: 196px;
  height: 50px;
  margin-right: 4px;
  border: solid #aaa 2px;
  background-color: white;
  opacity: 0.9;
  float: left;
  
  color: black;
  padding: 1px;
  visibility: hidden;
}